#start-game-btn {
  position: fixed;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.window-borders {
  padding: 0px 0.15vw 0.15vw 0.15vw;
  background-color: rgb(37, 37, 37);
  text-align: right;
  color: white;
  position: absolute;
  top: 2%;
  left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.close-btn {
  color: white;
  font-size: 1.1vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-btn:hover {
  color: #c0c0c0;
  font-weight: bold;
}

.close-btn:active {
  color: #afafaf;
  font-weight: bold;
  font-size: 1.4em;
}
